# Pandas Series

In [6]:
import pandas as pd
a1=pd.Series([4,8,3,7])
print(a1)

0    4
1    8
2    3
3    7
dtype: int64

# Pandas Series has Values and Indexes

In [12]:
import pandas as pd
a1=pd.Series([40,80,30,70])
print('Values',a1.values)
print('Indexes',a1.index)
a1

Values [40 80 30 70]
Indexes RangeIndex(start=0, stop=4, step=1)

0    40
1    80
2    30
3    70
dtype: int64

# Non Numeric Index

In [15]:
a1=pd.Series([40,80,30,70],index=['Jan','Feb','Mar','Apr'])
print('Values',a1.values)
print('Indexes',a1.index)
a1

Values [40 80 30 70]
Indexes Index(['Jan', 'Feb', 'Mar', 'Apr'], dtype='object')

Jan    40
Feb    80
Mar    30
Apr    70
dtype: int64

In [18]:
a1=pd.Series([40,80,30,70],index=['Jan','Feb','Mar','Apr'],name='Generate Random Data') #Adding Name
print('Values',a1.values)
print('Indexes',a1.index)
a1

Values [40 80 30 70]
Indexes Index(['Jan', 'Feb', 'Mar', 'Apr'], dtype='object')

Jan    40
Feb    80
Mar    30
Apr    70
Name: Generate Random Data, dtype: int64

In [22]:
a2=pd.Series([10,15,7,18,11,9,0],
             index=['Mon','Tues','Wed','Thurs','Fri','Sat','Sun'],
             name='Canteen weekly data of Switches Sales')
a2

Mon      10
Tues     15
Wed       7
Thurs    18
Fri      11
Sat       9
Sun       0
Name: Canteen weekly data of Switches Sales, dtype: int64

In [23]:
print(a2['Wed'])   #pick data by name and by index
print(a2[2])

7
7

In [28]:
print(a2[[2,4]]) #multipl selection
print(a2[['Sun','Sat']])

Wed     7
Fri    11
Name: Canteen weekly data of Switches Sales, dtype: int64
Sun    0
Sat    9
Name: Canteen weekly data of Switches Sales, dtype: int64

In [30]:
print(a2[a2>10]) #Condition apply

Tues     15
Thurs    18
Fri      11
Name: Canteen weekly data of Switches Sales, dtype: int64

In [32]:
a3=a2*2    #values multiply by 2
print(a2)
a3

Mon      10
Tues     15
Wed       7
Thurs    18
Fri      11
Sat       9
Sun       0
Name: Canteen weekly data of Switches Sales, dtype: int64

Mon      20
Tues     30
Wed      14
Thurs    36
Fri      22
Sat      18
Sun       0
Name: Canteen weekly data of Switches Sales, dtype: int64

In [33]:
a3/2  #we can also perform arithmatic operation

Mon      10.0
Tues     15.0
Wed       7.0
Thurs    18.0
Fri      11.0
Sat       9.0
Sun       0.0
Name: Canteen weekly data of Switches Sales, dtype: float64

In [34]:
'Fri' in a2  #find whether the index is in series or not

True

# Create Panda Series by using array

In [36]:
import numpy as np
val=np.array([3,5,0,7,1])
ind=np.array(['a','b','c','d','e'])
a4=pd.Series(val,index=ind)
a4

a    3
b    5
c    0
d    7
e    1
dtype: int32

# Pandas Series by Dictionary

In [40]:
sdata={'Sindh':30000, 'Punjab':20000,'KPK':15000,'Balochistan':7000}
a5=pd.Series(sdata)
print(a5)
print(a5.index)

Sindh          30000
Punjab         20000
KPK            15000
Balochistan     7000
dtype: int64
Index(['Sindh', 'Punjab', 'KPK', 'Balochistan'], dtype='object')

In [41]:
sdata={'Sindh':30000, 'Punjab':20000,'KPK':15000,'Balochistan':7000}
a5=pd.Series(sdata, index=['Balochistan', 'Sindh','Punjab','KPK'])   #Index Shuffle but data same
print(a5)
print(a5.index)

Balochistan     7000
Sindh          30000
Punjab         20000
KPK            15000
dtype: int64
Index(['Balochistan', 'Sindh', 'Punjab', 'KPK'], dtype='object')

In [45]:
sdata={'Sindh':30000, 'Punjab':20000,'KPK':15000,'Balochistan':7000}
a5=pd.Series(sdata, index=['Balochistan', 'Sindh','Punjab','KPK','Gilgit'])   #Mising data we increased 1 index
print(a5)
print(a5.index)
#print(pd.isnull(a5))  #Check the null values it give true when NaN is available. Null is value which is not present in series
a5.isnull()  #Both commands are same pd.isnull is function and a5.isnull is a method

Balochistan     7000.0
Sindh          30000.0
Punjab         20000.0
KPK            15000.0
Gilgit             NaN
dtype: float64
Index(['Balochistan', 'Sindh', 'Punjab', 'KPK', 'Gilgit'], dtype='object')

Balochistan    False
Sindh          False
Punjab         False
KPK            False
Gilgit          True
dtype: bool

In [48]:
a5.name='Tax paying state'
a5.index.name='State Names'  #update index name
print(a5)

State Names
Balochistan     7000.0
Sindh          30000.0
Punjab         20000.0
KPK            15000.0
Gilgit             NaN
Name: Tax paying state, dtype: float64

In [49]:
a5.index=['B','S','P','K','G']  #Index update
print(a5)

B     7000.0
S    30000.0
P    20000.0
K    15000.0
G        NaN
Name: Tax paying state, dtype: float64