# Pandas Series

In [6]:
import pandas as pd
a1=pd.Series([4,8,3,7])
print(a1)

0    4
1    8
2    3
3    7
dtype: int64

# Pandas Series has Values and Indexes

In [12]:
import pandas as pd
a1=pd.Series([40,80,30,70])
print('Values',a1.values)
print('Indexes',a1.index)
a1

Values [40 80 30 70]
Indexes RangeIndex(start=0, stop=4, step=1)

0    40
1    80
2    30
3    70
dtype: int64

# Non Numeric Index

In [15]:
a1=pd.Series([40,80,30,70],index=['Jan','Feb','Mar','Apr'])
print('Values',a1.values)
print('Indexes',a1.index)
a1

Values [40 80 30 70]
Indexes Index(['Jan', 'Feb', 'Mar', 'Apr'], dtype='object')

Jan    40
Feb    80
Mar    30
Apr    70
dtype: int64

In [18]:
a1=pd.Series([40,80,30,70],index=['Jan','Feb','Mar','Apr'],name='Generate Random Data') #Adding Name
print('Values',a1.values)
print('Indexes',a1.index)
a1

Values [40 80 30 70]
Indexes Index(['Jan', 'Feb', 'Mar', 'Apr'], dtype='object')

Jan    40
Feb    80
Mar    30
Apr    70
Name: Generate Random Data, dtype: int64

In [22]:
a2=pd.Series([10,15,7,18,11,9,0],
             index=['Mon','Tues','Wed','Thurs','Fri','Sat','Sun'],
             name='Canteen weekly data of Switches Sales')
a2

Mon      10
Tues     15
Wed       7
Thurs    18
Fri      11
Sat       9
Sun       0
Name: Canteen weekly data of Switches Sales, dtype: int64

In [23]:
print(a2['Wed'])   #pick data by name and by index
print(a2[2])

7
7

In [28]:
print(a2[[2,4]]) #multipl selection
print(a2[['Sun','Sat']])

Wed     7
Fri    11
Name: Canteen weekly data of Switches Sales, dtype: int64
Sun    0
Sat    9
Name: Canteen weekly data of Switches Sales, dtype: int64

In [30]:
print(a2[a2>10]) #Condition apply

Tues     15
Thurs    18
Fri      11
Name: Canteen weekly data of Switches Sales, dtype: int64

In [32]:
a3=a2*2    #values multiply by 2
print(a2)
a3

Mon      10
Tues     15
Wed       7
Thurs    18
Fri      11
Sat       9
Sun       0
Name: Canteen weekly data of Switches Sales, dtype: int64

Mon      20
Tues     30
Wed      14
Thurs    36
Fri      22
Sat      18
Sun       0
Name: Canteen weekly data of Switches Sales, dtype: int64

In [33]:
a3/2  #we can also perform arithmatic operation

Mon      10.0
Tues     15.0
Wed       7.0
Thurs    18.0
Fri      11.0
Sat       9.0
Sun       0.0
Name: Canteen weekly data of Switches Sales, dtype: float64

In [34]:
'Fri' in a2  #find whether the index is in series or not

True

# Create Panda Series by using array

In [36]:
import numpy as np
val=np.array([3,5,0,7,1])
ind=np.array(['a','b','c','d','e'])
a4=pd.Series(val,index=ind)
a4

a    3
b    5
c    0
d    7
e    1
dtype: int32

# Pandas Series by Dictionary

In [40]:
sdata={'Sindh':30000, 'Punjab':20000,'KPK':15000,'Balochistan':7000}
a5=pd.Series(sdata)
print(a5)
print(a5.index)

Sindh          30000
Punjab         20000
KPK            15000
Balochistan     7000
dtype: int64
Index(['Sindh', 'Punjab', 'KPK', 'Balochistan'], dtype='object')

In [41]:
sdata={'Sindh':30000, 'Punjab':20000,'KPK':15000,'Balochistan':7000}
a5=pd.Series(sdata, index=['Balochistan', 'Sindh','Punjab','KPK'])   #Index Shuffle but data same
print(a5)
print(a5.index)

Balochistan     7000
Sindh          30000
Punjab         20000
KPK            15000
dtype: int64
Index(['Balochistan', 'Sindh', 'Punjab', 'KPK'], dtype='object')

In [45]:
sdata={'Sindh':30000, 'Punjab':20000,'KPK':15000,'Balochistan':7000}
a5=pd.Series(sdata, index=['Balochistan', 'Sindh','Punjab','KPK','Gilgit'])   #Mising data we increased 1 index
print(a5)
print(a5.index)
#print(pd.isnull(a5))  #Check the null values it give true when NaN is available. Null is value which is not present in series
a5.isnull()  #Both commands are same pd.isnull is function and a5.isnull is a method

Balochistan     7000.0
Sindh          30000.0
Punjab         20000.0
KPK            15000.0
Gilgit             NaN
dtype: float64
Index(['Balochistan', 'Sindh', 'Punjab', 'KPK', 'Gilgit'], dtype='object')

Balochistan    False
Sindh          False
Punjab         False
KPK            False
Gilgit          True
dtype: bool

In [48]:
a5.name='Tax paying state'
a5.index.name='State Names'  #update index name
print(a5)

State Names
Balochistan     7000.0
Sindh          30000.0
Punjab         20000.0
KPK            15000.0
Gilgit             NaN
Name: Tax paying state, dtype: float64

In [49]:
a5.index=['B','S','P','K','G']  #Index update
print(a5)

B     7000.0
S    30000.0
P    20000.0
K    15000.0
G        NaN
Name: Tax paying state, dtype: float64

# Pandas DataFrame

In [3]:
import pandas as pd
boy=pd.Series([15,18,25,30],index=['Class I','Class II','Class III','Class IV'])  #length of Both Series Indexes should be the same
girl=pd.Series([13,11,15,20],index=['Class I','Class II','Class III','Class IV'])
data={'No.of Boys':boy,'No.of Girls':girl}
final_data=pd.DataFrame(data)
print(final_data)

           No.of Boys  No.of Girls
Class I            15           13
Class II           18           11
Class III          25           15
Class IV           30           20

In [32]:
data={'Country':['England','China','USA','France','Germany','India','Canada'], 'Year':[2005,2006,2007,2008,2009,2010,2011],
      'Literacy':[75,85.5,95.2,83.7,88.6,90.1,96.2]}
frame=pd.DataFrame(data, index=['1st','2nd','3rd','4th','5th','6th','7th'])
display(frame)

     Country  Year  Literacy
1st  England  2005      75.0
2nd    China  2006      85.5
3rd      USA  2007      95.2
4th   France  2008      83.7
5th  Germany  2009      88.6
6th    India  2010      90.1
7th   Canada  2011      96.2

In [42]:
frame.head() #it print the first five rows of ur data

     Country  Year  Literacy
1st  England  2005      75.0
2nd    China  2006      85.5
3rd      USA  2007      95.2
4th   France  2008      83.7
5th  Germany  2009      88.6

In [43]:
frame4=pd.DataFrame(data,columns=['Year','Literacy','Country'],index=['1st','2nd','3rd','4th','5th','6th','7th']) #we can change the position as well
frame4

     Year  Literacy  Country
1st  2005      75.0  England
2nd  2006      85.5    China
3rd  2007      95.2      USA
4th  2008      83.7   France
5th  2009      88.6  Germany
6th  2010      90.1    India
7th  2011      96.2   Canada

In [46]:
frame1=pd.DataFrame(data,columns=['Year','Literacy','Country','Economy'],index=['1st','2nd','3rd','4th','5th','6th','7th']) #adding new column
frame1

     Year  Literacy  Country Economy
1st  2005      75.0  England     NaN
2nd  2006      85.5    China     NaN
3rd  2007      95.2      USA     NaN
4th  2008      83.7   France     NaN
5th  2009      88.6  Germany     NaN
6th  2010      90.1    India     NaN
7th  2011      96.2   Canada     NaN

In [47]:
print(frame1.columns)
print(frame1.index)

Index(['Year', 'Literacy', 'Country', 'Economy'], dtype='object')
Index(['1st', '2nd', '3rd', '4th', '5th', '6th', '7th'], dtype='object')

In [48]:
#print(data)
#data['Country']  #Dictionary like notation to access data
frame1['Year'] #Dataframe column data

1st    2005
2nd    2006
3rd    2007
4th    2008
5th    2009
6th    2010
7th    2011
Name: Year, dtype: int64

In [49]:
frame1.Country #attribute style

1st    England
2nd      China
3rd        USA
4th     France
5th    Germany
6th      India
7th     Canada
Name: Country, dtype: object

In [54]:
frame1.loc['2nd','Country'] # f.loc(row,columm)
#frame1.loc['2nd',['Literacy','Year']] #give row index name which we want to access bcz loc function allows row name instead of default index like (0,1,2...) .

'China'

In [56]:
frame1.loc['3rd':'6th':2] #just like slicing they give row between 2 to 6 and step size 2 (frame.loc[start:end:stepsize])

     Year  Literacy  Country Economy
3rd  2007      95.2      USA     NaN
5th  2009      88.6  Germany     NaN

In [71]:
frame1.iloc[1:4]    #in iloc function u can access data through its default index
frame1.iloc[2:5:1,1:3:1]

     Literacy  Country
3rd      95.2      USA
4th      83.7   France
5th      88.6  Germany

In [23]:
print(len(frame1)) #it give the total number of rows

7

In [28]:
#Add New column through numpy array
import numpy as np
ln=len(frame1)
rang=np.arange(ln)
frame1['debt']=rang
frame1

   Year  Literacy  Country Economy  debt
0  2005      75.0  England     NaN     0
1  2006      85.5    China     NaN     1
2  2007      95.2      USA     NaN     2
3  2008      83.7   France     NaN     3
4  2009      88.6  Germany     NaN     4
5  2010      90.1    India     NaN     5
6  2011      96.2   Canada     NaN     6

In [34]:
val=pd.Series([1.5,-0.3,5.4,-7.7,-1.4,2.6,3.5],
              index=[0,1,2,3,4,5,6]) #Dataframe index and Series index must be the same name and same in length
frame1['debt']=val
frame1

   Year  Literacy  Country Economy  debt
0  2005      75.0  England     NaN   1.5
1  2006      85.5    China     NaN  -0.3
2  2007      95.2      USA     NaN   5.4
3  2008      83.7   France     NaN  -7.7
4  2009      88.6  Germany     NaN  -1.4
5  2010      90.1    India     NaN   2.6
6  2011      96.2   Canada     NaN   3.5

In [35]:
val=pd.Series([1.5,-0.3,5.4,-7.7,-1.4,2.6,3.5],
              index=[0,1,2,3,4,5,'six']) #Dataframe index and Series index must be the same name and same in length
frame1['debt']=val              #If we change the name of any index but same in lenth then it give NaN value at that position
frame1

   Year  Literacy  Country Economy  debt
0  2005      75.0  England     NaN   1.5
1  2006      85.5    China     NaN  -0.3
2  2007      95.2      USA     NaN   5.4
3  2008      83.7   France     NaN  -7.7
4  2009      88.6  Germany     NaN  -1.4
5  2010      90.1    India     NaN   2.6
6  2011      96.2   Canada     NaN   NaN

# Function, Application and Mapping of Pandas

In [16]:
import numpy as np
import pandas as pd
frame=pd.DataFrame(np.random.randn(4,3),columns=list('abc'),index=['utah','Ohio','Texas','oregon'])
print(frame)
#print(frame['a'].min())
#print(frame['a'].max())
#print(frame['a'].max()-frame['a'].min())

f=lambda x:x.max()-x.min() #By Lambda function and apply command #for subracted valye of a,b and c
df=frame.apply(f)
df1=frame.apply(f,axis=0) 
print(df1)

def min_max(x):   #By normal function
    minimum=x.min()
    maximum=x.max()
    return pd.Series([maximum,minimum], index=['min','max'])
df3=frame.apply(min_max)
print(df3)

               a         b         c
utah   -0.398180 -2.146426  1.023517
Ohio   -0.186619 -2.169313 -1.015500
Texas   0.090668 -0.495406 -0.722356
oregon -0.995263  2.258865  0.202664
a    1.085931
b    4.428178
c    2.039016
dtype: float64
            a         b         c
min  0.090668  2.258865  1.023517
max -0.995263 -2.169313 -1.015500

# Arithmetic Operation on Dataframe

In [72]:
df=pd.DataFrame(np.arange(9).reshape((3,3)),columns=list('bcd'),index=['Ohio','Texas','Colorado'])
df1=pd.DataFrame(np.arange(12).reshape((4,3)),columns=list('bde'),index=['Utah','Ohio','Texas','Oregon'])
print(df)
print(df1)
df2=df1+df  #Every index of first df have to be added in index of second df, those index which is not common in both df gives the NaN value
print(df2)

          b  c  d
Ohio      0  1  2
Texas     3  4  5
Colorado  6  7  8
        b   d   e
Utah    0   1   2
Ohio    3   4   5
Texas   6   7   8
Oregon  9  10  11
            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

# Arithmetic Operation with Fill values

In [76]:
df=pd.DataFrame(np.arange(12).reshape((3,4)),columns=list('abcd'))
df1=pd.DataFrame(np.arange(20).reshape((4,5)),columns=list('abcde'))
print(df)
print(df1)
#df1.loc[1,'b']=np.nan
#print(df1)

print('Addition using a method with replacing NaN is 0')
df2=df.add(df1,fill_value=0) #this value replace NaN value to zero and then add
print(df2)

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
Addition using a method with replacing NaN is 0
      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

# Arithmetic Operation between Dataframe and Series

In [77]:
df5=pd.DataFrame(np.arange(12).reshape((4,3)),columns=list('bde'),index=['Utah','Ohio','Texas','Oregon'])
print(df5)
print('Using New Series')
series=pd.Series([1,2,3],index=list('bde'))
print(series.values,series.index)
a=df5-series
print(a)

        b   d   e
Utah    0   1   2
Ohio    3   4   5
Texas   6   7   8
Oregon  9  10  11
Using New Series
[1 2 3] Index(['b', 'd', 'e'], dtype='object')
        b  d  e
Utah   -1 -1 -1
Ohio    2  2  2
Texas   5  5  5
Oregon  8  8  8

# Deleting Data from DataFrame

In [ ]:
import numpy as np
import pandas as pd
df6=pd.DataFrame(np.arange(16).reshape((4,4)),columns=['one','two','three','four']
                 ,index=['Ohio','Colorado','Utah','New york'])
print(df6)
#df6=df6.drop('three',axis=1) #when you delete any column you used axis 1
df6.drop('three',axis=1,inplace=True) #Both commands doing same thing deleteing the column  you can execute one  
print(df6)
df7=df6.drop('Colorado',axis=0)  # #when you delete any row you used axis 0
df7

# Indexing, Selection and Filtering

In [9]:
import numpy as np
import pandas as pd
df7=pd.DataFrame(np.arange(16).reshape((4,4)),columns=['one','two','three','four']
                 ,index=['Ohio','Colorado','Utah','New york'])
print(df7)
print()
print(df7[['two','three']]) #you can select data from dataframe
print()
print(df7[2:]) #like numpy style
print()
print(df7.three[1:3]) #Attribute style . it can access 1 column and 2  rows
print()
print(df7['three'][:2]) #Dictionary style

#Conditional Selection
#df7[df7['three']>8]  #print only column three values which are greater than 3
df1=df7['two']>5 #Boolean style
print(df1)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New york   12   13     14    15

          two  three
Ohio        1      2
Colorado    5      6
Utah        9     10
New york   13     14

          one  two  three  four
Utah        8    9     10    11
New york   12   13     14    15

Colorado     6
Utah        10
Name: three, dtype: int32

Ohio        2
Colorado    6
Name: three, dtype: int32
Ohio        False
Colorado    False
Utah         True
New york     True
Name: two, dtype: bool

# Sorting and Ranking

In [24]:
import numpy as np
import pandas as pd
df7=pd.DataFrame(np.arange(8).reshape((2,4)),columns=['d','a','b','c']
                 ,index=['three','one'])
print(df7)
print()

#Sort details by INDEX
print(df7.sort_index(axis=1, ascending=False))
print(df7.sort_index(axis=1, ascending=True))
print(df7.sort_index(axis=0, ascending=False))
print(df7.sort_index(axis=0, ascending=True)) 

#by default it take axis=0(row) and ascending=True
print(df7.sort_index())

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

       d  c  b  a
three  0  3  2  1
one    4  7  6  5
       a  b  c  d
three  1  2  3  0
one    5  6  7  4
       d  a  b  c
three  0  1  2  3
one    4  5  6  7
       d  a  b  c
one    4  5  6  7
three  0  1  2  3
       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [36]:
#Sort Details by Values
print(df7.sort_values(by='b')) #Sort values only in column 'b'
print(df7.rank(ascending=False, method='max'))
print(df7.rank(ascending=True, method='min'))
print(df7.rank(axis='columns'))

       d  a  b  c
three  0  1  2  3
one    4  5  6  7
         d    a    b    c
three  2.0  2.0  2.0  2.0
one    1.0  1.0  1.0  1.0
         d    a    b    c
three  1.0  1.0  1.0  1.0
one    2.0  2.0  2.0  2.0
         d    a    b    c
three  1.0  2.0  3.0  4.0
one    1.0  2.0  3.0  4.0

In [43]:
df8=pd.DataFrame([[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]],
                 index=['a','b','c','d'],columns=['one','two'])
print(df8)
print(df8.sum()) #Sum on entire dataframe column wise
print(df8.sum(axis='columns'))  #Sum on entire dataframe row wise

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3
one    9.25
two   -5.80
dtype: float64
a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [46]:
print(df8)
x=df8.mean(axis='columns', skipna=False) #Skipna false includes the Nan value in mean and vice versa.
print(x)

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3
a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [49]:
df9=pd.DataFrame([[1.4,np.nan,7.1,-4.5],[7.1,-4.5,np.nan,np.nan],[1.4,np.nan,0.75,-1.3],[0.75,-1.3,1.4,np.nan]],
                 index=['a','b','c','d'],columns=['one','two','three','four'])
print(df9)
print(df9['one'].unique(),df9['two'].unique()) #it gives the unique value of these 2 columns
df9['one'].value_counts()  #it gives the total number of counts of unique values

    one  two  three  four
a  1.40  NaN   7.10  -4.5
b  7.10 -4.5    NaN   NaN
c  1.40  NaN   0.75  -1.3
d  0.75 -1.3   1.40   NaN
[1.4  7.1  0.75] [ nan -4.5 -1.3]

1.40    2
0.75    1
7.10    1
Name: one, dtype: int64

# Reindexing

In [61]:
#Reindex is a  method of Dataframe and 'method' is a parameter of reindexing
df10=pd.Series(['Blue','Yellow','Green'],index=[0,3,6])
print(df10)
print()
df12=df10.reindex(range(9)) #reindex between 0-9
print(df12)
print()
df11=df10.reindex(range(9),method='ffill')  #ffill is forward fill method it fills the previous  value to the next NaN location
print(df11)

0      Blue
3    Yellow
6     Green
dtype: object

0      Blue
1       NaN
2       NaN
3    Yellow
4       NaN
5       NaN
6     Green
7       NaN
8       NaN
dtype: object

0      Blue
1      Blue
2      Blue
3    Yellow
4    Yellow
5    Yellow
6     Green
7     Green
8     Green
dtype: object

In [73]:
states=pd.DataFrame(np.arange(9).reshape((3,3)),index=['a','c','d'],columns=['Ohio','Texas','California'])
print(states)
print()   
states=states.reindex(['a','b','c','d'],method='ffill')
print(states)
print()
states=states.reindex(['a','b','c','d'],method='bfill') #bfil indicated backword fill it takes the  value from next row
print(states)
#if we dont give any method it generates NaN value in the new row

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

   Ohio  Texas  California
a     0      1           2
b     0      1           2
c     3      4           5
d     6      7           8

   Ohio  Texas  California
a     0      1           2
b     0      1           2
c     3      4           5
d     6      7           8

In [77]:
#Column wise Reindexing
states=pd.DataFrame(np.arange(9).reshape((3,3)),index=['a','c','d'],columns=['Ohio','Texas','California'])
print(states)
state_name=['Texas','Utah','California','Ohio']
state=states.reindex(columns=state_name)
print(state)

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8
   Texas  Utah  California  Ohio
a      1   NaN           2     0
c      4   NaN           5     3
d      7   NaN           8     6

# Creating and Saving Files in Pandas dataframe

In [13]:
import pandas as pd
sample_df=pd.read_csv('examples/sample.csv')
print(sample_df)
print()

#we can change  the column names while loading data
sample_df=pd.read_csv('examples/sample.csv',header=None) #it cannot take ur first row as a header if you put this command header=None
print(sample_df)
print()
sample_df=pd.read_csv('examples/sample.csv',skiprows=1, names=['id','name','che','phy','eng','math']) #When you dont give header it takes first row as a header ,, and skiprows=1 skips the first row of data
print(sample_df)

  studentid         name   chimestry   physics   english   math
0       A01     arif ali          20        30        40     50
1       A02  kamran khan          30        40        50     60
2       A03   imran ali           40        50        60     70
3       A04  kashif khan          50        60        70     80

           0            1           2         3         4      5
0  studentid         name   chimestry   physics   english   math
1        A01     arif ali          20        30        40     50
2        A02  kamran khan          30        40        50     60
3        A03   imran ali           40        50        60     70
4        A04  kashif khan          50        60        70     80

    id         name  che  phy  eng  math
0  A01     arif ali   20   30   40    50
1  A02  kamran khan   30   40   50    60
2  A03   imran ali    40   50   60    70
3  A04  kashif khan   50   60   70    80

# Hierarchical Index

In [18]:
sample_df=pd.read_csv('examples/sample2.csv')
print(sample_df)
samp2=pd.read_csv('examples/sample2.csv',index_col=['key1','key2']) #used more than 1 column for index
print(samp2)

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16
           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

# Handling Missing Values

In [27]:
sample_df=pd.read_csv('examples/sample3.csv')
print(sample_df)
sentinals={'message':['foo','NA']}  #Convert missing value to NaN  'foo' is a missing value and we replace it 
pd.read_csv('examples/sample3.csv',na_values=sentinals) # na_values=replacing value to Nan

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

# Reading and Text Files in Pieces

In [17]:
import pandas as pd
chunks=pd.read_csv('datasets/train.csv',chunksize=100) #we divide our data in chunks and we can access it through loop
print(type(chunks),print(chunks))

chunkList=[]
for chunk in chunks:
    chunkList.append(chunk)
    
df=chunkList[4]  #we call chunk 4 
df.head()  #first five rows of chunk 4

<pandas.io.parsers.TextFileReader object at 0x0000006D5D4E3FC8>
<class 'pandas.io.parsers.TextFileReader'> None

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
400,1266,0,1.9,1,0,1,7,0.2,184,3,...,346,1468,2532,10,5,4,1,1,1,2
401,1042,0,2.7,1,16,1,50,0.8,93,7,...,727,1705,3215,18,0,20,1,1,1,3
402,1479,0,0.5,0,8,0,19,0.6,156,3,...,180,1476,3323,13,12,6,1,0,1,3
403,1476,1,1.2,1,0,1,55,0.1,171,4,...,1641,1666,1529,13,8,3,1,0,1,2
404,1552,1,2.2,0,6,1,13,0.2,123,6,...,269,1026,2403,9,2,9,1,1,1,2

In [18]:
list(open('examples/ex3.txt')) #in txt file elements must be separated by space instead of comma ful stop
#use spaces as a delimeter
result = pd.read_table('examples/ex3.txt',sep='\s+')  #\s+ means if space is double triple or tatra it can convert it a general space and use it as a separator
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [28]:
pd.read_csv('examples/ex4.csv',skiprows=[0,2,3]) # skip 0 2 3 rows

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

# Writing Data to text Format

In [35]:
data=pd.read_csv('examples/ex5.csv')
print(data)
data.to_csv('examples/outt.csv') # create new file ,, use this command to_csv

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

# Working with Delimited Formats

In [38]:
import csv
f=open('examples/ex7.csv')
reader=csv.reader(f)
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

# JSON File

In [39]:
import json
data=pd.read_json('examples/example.json') #jason data file
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

# Web Data loading in dataFrame (XML and HTML)

In [41]:
#HTML data is for human reading
#read HTML is a function which finds the Tag of HTML
table=pd.read_html('examples/fdic_failed_bank_list.html')
print(type(table))
print(len(table))
failure_df=table[0] # table is a list in which a dataframe in zero element . On zero element [0] first tabular data stored and on one element[1] 2nd tabular data store
print(type(failure_df))
print(failure_df.shape)
print(failure_df.columns) #Names of the column
len(failure_df)
print()
print(failure_df['City'].head()) #to generate first five rows of column City
print(failure_df['Bank Name'].head())
print(failure_df.head())

<class 'list'>
1
<class 'pandas.core.frame.DataFrame'>
(547, 7)
Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

0           Mulberry
1           Woodbury
2    King of Prussia
3            Memphis
4          Milwaukee
Name: City, dtype: object
0                     Allied Bank
1    The Woodbury Banking Company
2          First CornerStone Bank
3              Trust Company Bank
4      North Milwaukee State Bank
Name: Bank Name, dtype: object
                      Bank Name             City  ST   CERT  \
0                   Allied Bank         Mulberry  AR     91
1  The Woodbury Banking Company         Woodbury  GA  11297
2        First CornerStone Bank  King of Prussia  PA  35312
3            Trust Company Bank          Memphis  TN   9956
4    North Milwaukee State Bank        Milwaukee  WI  20364

                 Acquiring Institution        Closing Date       Updated Date
0                         Today's Bank  September 23, 2016  November 17, 2016
1                          United Bank     August 19, 2016  November 17, 2016
2  First-Citizens Bank & Trust Company         May 6, 2016  September 6, 2016
3           The Bank of Fayette County      April 29, 2016  September 6, 2016
4  First-Citizens Bank & Trust Company      March 11, 2016      June 16, 2016

In [44]:
c=pd.to_datetime(failure_df['Closing Date']) #to display closing date
print(type(c), c)

<class 'pandas.core.series.Series'> 0     2016-09-23
1     2016-08-19
2     2016-05-06
3     2016-04-29
4     2016-03-11
         ...
542   2001-07-27
543   2001-05-03
544   2001-02-02
545   2000-12-14
546   2000-10-13
Name: Closing Date, Length: 547, dtype: datetime64[ns]

# Binary Data

In [45]:
frame=pd.read_csv('examples/ex1.csv')
frame.to_pickle('examples/frame_pickle')
pd.read_pickle('examples/frame_pickle')
#Binary is less portable we cannot move it easily
#Binary data cover less space then other data
#if we convert our csv or txt file to binary then no one will see and edit our data, it shows binary numbers only not show proper data

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

# HDF (Hierarchical DafaFrame)

In [5]:
import numpy as np
import pandas as pd
frame=pd.DataFrame({'a': np.random.randn(100)})
store=pd.HDFStore('mydata.h5')  # Create database
store['obj1']=frame
store['obj1_col']=frame['a']
print(store)
x=store.obj1
print(type(x))
print(x.head())
print()
store.put('obj2',frame, format='table') #save data in table format
store.select('obj2',where=['index>=10 and index<=15'] ) 
#In Data base we retrieved data through condtion but it cannot posible in csv . in data base table we can extract and filter data ata a same time this is speciality
store.close()

frame.to_hdf('mydata.h5','obj3',format='table') # Data Write
#frame=pd.read_hdf('mydata.h5','obj3',where=['index<5'])  #Data read 
#you will not execute these two commands at same time  . you can execute 1 comand at a time

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

<class 'pandas.core.frame.DataFrame'>
          a
0 -0.041892
1  1.268414
2 -0.648667
3  0.777490
4  1.172326

# Reading Microsoft Excel file

In [7]:
#reading
xlsx=pd.ExcelFile('examples/ex1.xlsx')
frame=pd.read_excel('examples/ex1.xlsx','Sheet1')  #reading data in excel file sheet 1

#writing
writer=pd.ExcelWriter('examples/ex2.xlsx') #writing data in excel file sheet 1
frame.to_excel(writer,"Sheet1")
writer.save()

#alternate option for single sheet
frame.to_excel('examples/ex2.xlsx') #if we have only one sheet in a file  then use this method

# WEB API

In [10]:
import requests
import numpy as np
url='https://api.github.com/repos/pandas-dev/pandas/issues'
resp=requests.get(url)
print(resp)
data=resp.json()
print(type(data))
print(data)

<Response [200]>
<class 'list'>

In [15]:
data_dict=data[0]
issues=pd.DataFrame(data,columns=['numbers','title','label','state'])
print(issues.head())
#print(issues[['number','title']].head())

   numbers                                              title  label state
0      NaN  Very frustrating not to be able to apply per-c...    NaN  open
1      NaN                              plt is missing import    NaN  open
2      NaN  CLN: changed .format to f-string in pandas/cor...    NaN  open
3      NaN  Unable to read number_format with pandas / ope...    NaN  open
4      NaN                    Simplified objToJSON signatures    NaN  open

# Handling Missing Values

In [27]:
from numpy import nan as NA
data = pd.DataFrame([[1,6.5,NA],[1,NA,NA],[NA,NA,NA],[NA,6.5,NA]], columns=list('abc'))
print(data)

cleaned=data.dropna() #remove the row when any one value is NaN
print()
display(cleaned)

#data.dropna(how='all') #remove the whenin which all values are NaN
data.dropna(axis=1,how='all') remove he column having all values are NaN

     a    b   c
0  1.0  6.5 NaN
1  1.0  NaN NaN
2  NaN  NaN NaN
3  NaN  6.5 NaN

Empty DataFrame
Columns: [a, b, c]
Index: []

     a    b
0  1.0  6.5
1  1.0  NaN
2  NaN  NaN
3  NaN  6.5

# Filling Missing Data

In [40]:
df=pd.DataFrame(np.random.randn(7,3))
print(df)
df.iloc[:4,1]=NA
df.iloc[:2,2]=NA
display(df)
#df.fillna(33.3)  #null values replaced with 33.3
#a=df.fillna({1:0.55,2:4.55}) #column 1 NA is replace by 1.55 and column 2 NA is replace by 4.55
#display(a)
df=df.fillna(method='ffill',axis=1)
print(df)

          0         1         2
0 -0.425287  2.060503 -1.758433
1  0.146128  1.889210  0.872535
2  0.151455 -1.215082 -0.537737
3 -0.254914  0.159042  1.055089
4 -0.107907 -0.760282  0.500436
5 -1.401329 -0.120781 -1.701431
6 -0.557065  0.306599 -0.020865

          0         1         2
0 -0.425287       NaN       NaN
1  0.146128       NaN       NaN
2  0.151455       NaN -0.537737
3 -0.254914       NaN  1.055089
4 -0.107907 -0.760282  0.500436
5 -1.401329 -0.120781 -1.701431
6 -0.557065  0.306599 -0.020865

          0         1         2
0 -0.425287 -0.425287 -0.425287
1  0.146128  0.146128  0.146128
2  0.151455  0.151455 -0.537737
3 -0.254914 -0.254914  1.055089
4 -0.107907 -0.760282  0.500436
5 -1.401329 -0.120781 -1.701431
6 -0.557065  0.306599 -0.020865

# Removing Duplicates

In [5]:
import pandas as pd
data=pd.DataFrame({'K1':['one','two']*3 + ['two'],'K2':[1,1,2,3,3,4,4]})
display(data)
print()
#data.drop_duplicates() #it removes the duplicate row
#data.duplicated() #it give the boolean output give true on duplicate rows
data['V1']=['one','one','two','three','three','four','four']
display(data)
data=data.drop_duplicates(['K1','V1']) #it checks the duplicate in K1 and V1
data

    K1  K2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

    K1  K2     V1
0  one   1    one
1  two   1    one
2  one   2    two
3  two   3  three
4  one   3  three
5  two   4   four
6  two   4   four

    K1  K2     V1
0  one   1    one
1  two   1    one
2  one   2    two
3  two   3  three
4  one   3  three
5  two   4   four

# Replacing Values

In [25]:
from numpy import nan as NA
import numpy as np
df=pd.DataFrame(np.random.randn(7,3))
print(df)
df.iloc[:4,1]=NA
df.iloc[:2,2]=444
display(df)
#df=df.replace(np.nan, 502)

          0         1         2
0  0.674500 -0.251917  1.582586
1 -0.679413  0.756876  0.088314
2  0.796515  0.840008 -0.481016
3  1.445833  0.923197 -0.135894
4  0.936411  1.951042  0.086262
5  1.255859 -0.581055 -1.945434
6 -0.054598  0.864869 -1.360851

          0         1           2
0  0.674500       NaN  444.000000
1 -0.679413       NaN  444.000000
2  0.796515       NaN   -0.481016
3  1.445833       NaN   -0.135894
4  0.936411  1.951042    0.086262
5  1.255859 -0.581055   -1.945434
6 -0.054598  0.864869   -1.360851

In [26]:
df1=df.replace([NA,444],[0,300]) #replace([which value u want to replace],[the actual value u want to replace])
df1

          0         1           2
0  0.674500  0.000000  300.000000
1 -0.679413  0.000000  300.000000
2  0.796515  0.000000   -0.481016
3  1.445833  0.000000   -0.135894
4  0.936411  1.951042    0.086262
5  1.255859 -0.581055   -1.945434
6 -0.054598  0.864869   -1.360851

# Mapping

In [32]:
frame=pd.DataFrame(np.random.randn(4,3),columns=list('abc'),index=['utah','Ohio','Texas','oregon'])
print(frame)
trans= lambda x:x[0:3].upper()


df=frame.index.map(trans)
df

               a         b         c
utah    1.116060  1.559671 -2.064248
Ohio   -0.273139 -1.176321 -0.967728
Texas  -0.523477 -1.752201 -0.329753
oregon  0.891770 -0.081383  0.273960

Index(['UTA', 'OHI', 'TEX', 'ORE'], dtype='object')

# Outliers

In [57]:
frame=pd.DataFrame(np.random.randn(4,3))
display(frame)
#frame.describe()
col=frame[2]
a=col[np.abs(col)>-1.1]
display(a)

outliers=frame[(np.abs(frame)>1).any(1)]
print(outliers)
print(len(outliers),len(frame))  #Len(number of outliers),len(total data set quantity)x`
frame[(np.abs(frame)>1)]  #it is a filter data those values which are less than one indicates NaN remaining display

          0         1         2
0  1.111553  0.276388  0.025132
1  1.359688  0.193877  2.658462
2  0.279894  0.662224  0.036825
3  0.249738  0.833578  1.657207

0    0.025132
1    2.658462
2    0.036825
3    1.657207
Name: 2, dtype: float64

          0         1         2
0  1.111553  0.276388  0.025132
1  1.359688  0.193877  2.658462
3  0.249738  0.833578  1.657207
3 4

          0   1         2
0  1.111553 NaN       NaN
1  1.359688 NaN  2.658462
2       NaN NaN       NaN
3       NaN NaN  1.657207